@font-face {
  font-family: "Rubik-Medium";
  font-display: swap;
  src: url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik-Regular";
  font-display: swap;
  src: url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik-SemiBold";
  font-display: swap;
  src: url("../fonts/Rubik-SemiBold.woff") format("woff"), url("../fonts/Rubik-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

p {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Rubik-Regular";
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: rgba(0, 0, 0, 0.831372549);
  background-image: url(../img/bg-geo.svg);
  background-attachment: fixed;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-family: "Rubik-SemiBold";
  margin: 0;
  padding: 0;
}

.mouse-parallax {
  height: 100vh;
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: -1;
}

.mouse-parallax-bg,
.mouse-parallax-fog-1,
.mouse-parallax-fog-2,
.mouse-parallax-fog-2 {
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background-image: url("../img/bg-1.png");
}

.mouse-parallax-fog-1 {
  background-image: url("../img/bg-2.png");
}

.mouse-parallax-fog-2 {
  background-image: url("../img/bg-3.png");
}

.mouse-parallax-fog-3 {
  background-image: url("../img/bg-4.png");
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__wrapper {
  width: 100%;
  height: auto;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.header__logo img {
  width: 200px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.header__link {
  font-size: 18px;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.main {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 265px;
  left: 0;
}

.main__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__title h1 {
  font-size: 40px;
  color: #fff;
  width: 48%;
  line-height: 130%;
  text-align: center;
}

.main__title h1 span {
  color: #01a437;
}

.main__title p {
  font-size: 24px;
  color: #fff;
  width: 45%;
  line-height: 130%;
  text-align: center;
}

.main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
}

.main__button .main__btn {
  background-color: #01a437;
  color: #fff;
  font-size: 18px;
  padding: 15px 0px;
  cursor: pointer;
  width: 200px;
  text-align: center;
  border-radius: 2px;
}

.offers {
  width: 100%;
  margin-top: 50px;
  background-image: url(../img/angry.svg);
  background-position: 100px 200px;
  background-repeat: no-repeat;
  background-size: 20%;
}

.offers__title {
  width: 100%;
}

.offers__title h2 {
  font-size: 50px;
  padding: 0 20px;
  color: #fff;
}

.offers__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
}

.offers__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers__row:nth-child(1) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.offers__row:nth-child(2) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.offers__row:nth-child(3) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.offers__row:nth-child(4) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.offers__row:nth-child(5) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.offers__row:nth-child(6) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.offers__row:nth-child(7) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.offers__item {
  max-width: 900px;
  height: auto;
  position: relative;
}

.offers__item img {
  width: 100%;
  height: auto;
}

.offers__name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.6117647059);
}

.offers__name h3 {
  font-size: 26px;
}

.price {
  width: 100%;
  margin-top: 50px;
}

.price__title {
  width: 90%;
  text-align: end;
}

.price__title h2 {
  font-size: 50px;
  padding: 0 20px;
  color: #fff;
}

.price__items {
  width: 100%;
  margin-top: 40px;
}

.price__item {
  width: 90%;
  height: 696px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: url(../img/bg.jpeg);
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.price__img {
  width: 90%;
  overflow: hidden;
}

.price__dis {
  width: 440px;
  height: auto;
  padding: 30px;
  background-color: #fff;
  position: absolute;
}

.price__name {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.price__text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 130%;
}

.price ul li {
  line-height: 130%;
  font-size: 16px;
  color: #323232;
}

.price .price__btn {
  background-color: #01a437;
  color: #fff;
  font-size: 18px;
  padding: 15px 0;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.about {
  width: 100%;
  margin-top: 50px;
}

.about__title {
  width: 100%;
}

.about__title h2 {
  font-size: 50px;
  padding: 0 20px;
  color: #fff;
}

.about__items {
  margin-top: 40px;
}

.about__dis {
  width: 50%;
  background-color: #fff;
  padding: 30px;
}

.about__dis h4 {
  font-size: 18px;
  line-height: 130%;
}

.about__dis p {
  font-size: 16px;
  line-height: 130%;
  margin-top: 10px;
}

.modal {
  padding: 0 !important;
}

.modal-open .modal {
  padding: 0 !important;
}

.modal-left {
  display: none;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.modal-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
}

.modal-form button {
  background-color: #01a437;
  color: #fefefe;
  font-size: 18px;
  padding: 15px 0;
  border-radius: 2px;
}

.modal-description {
  font-size: 16px;
}

.form-control {
  font-size: 16px;
}

.modal-content {
  padding: 15px;
  border-radius: 0px !important;
}

.close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.close img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.modal-dialog {
  top: 20%;
  background-color: #fefefe;
  padding: 0 !important;
  margin: 0 auto !important;
  border-radius: 2px;
}

.mod_wrp {
  padding: 10px;
}

.mod_wrp img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.mod_wrp .ft1 {
  text-align: center;
  font-size: 18px;
}

.mod_wrp .ft2 {
  text-align: center;
  margin-top: 15px;
  font-size: 16px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    margin: 0 auto;
  }
}

@media (max-width: 1240px) {
  .price__item {
    width: 100%;
  }
}

@media (max-width: 1140px) {
  .main__title h1 {
    width: 70%;
    font-size: 36px;
  }

  .main__title p {
    font-size: 22px;
    width: 55%;
  }

  .main {
    top: 200px;
  }
}

@media (max-width: 991px) {
  .main__title h1 {
    width: 55%;
    font-size: 26px;
  }

  .main__title p {
    font-size: 18px;
    width: 50%;
  }

  .offers__title h2 {
    font-size: 40px;
  }

  .price__title h2 {
    font-size: 40px;
  }

  .about__title h2 {
    font-size: 40px;
  }

  .about__dis {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .main__title h1 {
    font-size: 26px;
    width: 60%;
  }

  .main__title p {
    font-size: 18px;
    width: 65%;
  }

  .offers__items {
    gap: 20px;
  }
}

@media (max-width: 576px) {
  .header__nav {
    display: none;
  }

  .main__title h1 {
    font-size: 26px;
    width: 90%;
  }

  .main__title p {
    font-size: 18px;
    width: 80%;
  }

  .main__button .main__btn {
    width: 100%;
  }

  .main__button {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .offers__title h2 {
    font-size: 30px;
  }

  .offers__name h3 {
    font-size: 22px;
  }

  .price__title h2 {
    font-size: 30px;
  }

  .about__title h2 {
    font-size: 30px;
  }

  .about__dis {
    width: 100%;
  }
}

@media (max-width: 435px) {
  .price__dis {
    position: static;
  }
}

@media (max-width: 360px) {
  .main__title p {
    width: 90%;
    font-size: 16px;
  }
}