@font-face {
  font-family: "Rosario-Bold";
  font-display: swap;
  src: url("../fonts/Rosario-Bold.woff") format("woff"), url("../fonts/Rosario-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  color: #333333;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.open {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  font-family: "Roboto-Bold", sans-serif;
  margin: 0;
  padding: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: block;
}

.header .header__top {
  width: 100%;
  border-bottom: 2px solid #e8e8e8;
}

.header .header__top .header__top-inner {
  width: 100%;
  padding: 10px 0 10px 0;
}

.header .header__top .header__top-inner .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__top .header__top-inner .link .link-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
}

.header .header__top .header__top-inner .link .link-left a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.header .header__top .header__top-inner .link .link-left a:hover {
  color: #e11c4b;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header .header__top .header__top-inner .link .link-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__top .header__top-inner .link .link-right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.header .header__top .header__top-inner .link .link-right a:hover {
  color: #e11c4b;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header .header__center {
  width: 100%;
}

.header .header__center .header__center-inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.header .header__center .header__center-inner .logo span {
  font-family: "Rosario-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.105em;
  color: #e11c4b;
}

.header .header__center .header__center-inner .search {
  width: 100%;
  padding: 0 25px 0 51px;
}

.header .header__center .header__center-inner .search .search-item {
  width: 100%;
  padding: 11.5px 0 11.5px 50px;
  border: 2px solid #dddddd;
  border-radius: 100px;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  outline: none;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 18px center;
}

.header .header__center .header__center-inner .search .search-item:focus {
  border: 2px solid #e11c4b;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header .header__center .header__center-inner .search input::-webkit-input-placeholder {
  color: #8d8d8d;
}

.header .header__center .header__center-inner .search input::-moz-placeholder {
  color: #8d8d8d;
}

.header .header__center .header__center-inner .search input:-ms-input-placeholder {
  color: #8d8d8d;
}

.header .header__center .header__center-inner .search input::-ms-input-placeholder {
  color: #8d8d8d;
}

.header .header__center .header__center-inner .search input::placeholder {
  color: #8d8d8d;
}

.header .header__center .header__center-inner .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.header .header__center .header__center-inner .items a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}

.header .header__center .header__center-inner .items a:hover {
  color: #e11c4b;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header .header__bottom .header__bottom-inner .nav-items {
  overflow: hidden;
}

.header .header__bottom .header__bottom-inner .nav-items .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 36px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
}

.header .header__bottom .header__bottom-inner .nav-items .items a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  position: relative;
}

.header .header__bottom .header__bottom-inner .nav-items .items a p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header .header__bottom .header__bottom-inner .nav-items .items a.active {
  color: #e11c4b;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.mobile {
  display: none;
  width: 100%;
}

.mobile .mobile__top .mobile__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0 12px 0;
}

.mobile .mobile__top .mobile__top-inner .logo span {
  font-family: "Rosario-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.105em;
  color: #e11c4b;
}

.mobile .mobile__top .mobile__top-inner .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 24px;
}

.mobile .mobile__top .mobile__top-inner .items a img {
  width: 24px;
  height: 24px;
}

.mobile .mobile__center .mobile__center-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile .mobile__center .mobile__center-inner .menu .menu__open {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.mobile .mobile__center .mobile__center-inner .menu .menu__open.open {
  z-index: 10;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.mobile .mobile__center .mobile__center-inner .search {
  width: 100%;
  padding-left: 15px;
}

.mobile .mobile__center .mobile__center-inner .search .search-item {
  width: 100%;
  padding: 8.5px 0 8.5px 46px;
  border: 2px solid #dddddd;
  border-radius: 100px;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  outline: none;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 18px center;
  background-size: 18px 18px;
}

.mobile .mobile__center .mobile__center-inner .search input::-webkit-input-placeholder {
  color: #8d8d8d;
}

.mobile .mobile__center .mobile__center-inner .search input::-moz-placeholder {
  color: #8d8d8d;
}

.mobile .mobile__center .mobile__center-inner .search input:-ms-input-placeholder {
  color: #8d8d8d;
}

.mobile .mobile__center .mobile__center-inner .search input::-ms-input-placeholder {
  color: #8d8d8d;
}

.mobile .mobile__center .mobile__center-inner .search input::placeholder {
  color: #8d8d8d;
}

.mobile .mobile__bottom .mobile__bottom-inner {
  padding-top: 18px;
}

.mobile .mobile__bottom .mobile__bottom-inner .nav-items {
  overflow: hidden;
}

.mobile .mobile__bottom .mobile__bottom-inner .nav-items .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 18px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
}

.mobile .mobile__bottom .mobile__bottom-inner .nav-items .items a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.mobile .mobile__bottom .mobile__bottom-inner .nav-items .items a p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 16px;
}

.mobile .mobile__bottom .mobile__bottom-inner .nav-items .items a:hover {
  color: #e11c4b;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.mobile__center.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  padding: 5px 0;
  -webkit-box-shadow: 0px 1px 5px #9c9c9c;
          box-shadow: 0px 1px 5px #9c9c9c;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.stock {
  padding: 36px 0 96px 0;
}

.stock .stock__title .stock__title-h1 {
  font-weight: 700;
  font-size: 36px;
}

.stock .stock__items .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 33px;
  margin-top: 36px;
}

.stock .stock__items .items a {
  display: block;
  width: 361px;
  height: 203px;
  border-radius: 10px;
}

.stock .stock__items .items a img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 6px 30px 4px rgba(32, 32, 32, 0.1);
          box-shadow: 0px 6px 30px 4px rgba(32, 32, 32, 0.1);
  border-radius: 10px;
}

.stock .stock__items .items a:hover {
  -webkit-box-shadow: 0 0 8px 1px #464444;
          box-shadow: 0 0 8px 1px #464444;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer {
  width: 100%;
  background-color: #f4f4f4;
  padding: 36px 0 18px 0;
}

.footer .footer__top {
  padding-bottom: 18px;
}

.footer .footer__top .footer__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__top .footer__top-inner .nav-items .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 62px;
}

.footer .footer__top .footer__top-inner .nav-items .items a:hover {
  color: #e11c4b;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer .footer__top .footer__top-inner .contact-items .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 62px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__top .footer__top-inner .contact-items .items a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__top .footer__top-inner .contact-items .items a img {
  width: 18px;
}

.footer .footer__top .footer__top-inner .contact-items .items a:hover {
  color: #e11c4b;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer .footer__bottom {
  padding-top: 18px;
}

.footer .footer__bottom .footer__bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__bottom .footer__bottom-inner .text-items .items p {
  color: #8d8d8d;
  font-size: 14px;
}

.footer .footer__bottom .footer__bottom-inner .social-items .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12px;
}

.footer .footer__bottom .footer__bottom-inner .social-items .items a {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  border: 1px solid #8d8d8d;
  background-color: #ffffff;
}

@media (min-width: 1150px) {
  .header .header__bottom .header__bottom-inner .nav-items .items a:before,
  .header .header__bottom .header__bottom-inner .nav-items .items span:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    margin-top: -0.5px;
    background: #e11c4b;
  }

  .header .header__bottom .header__bottom-inner .nav-items .items a:before {
    left: 0;
  }

  .header .header__bottom .header__bottom-inner .nav-items .items a:after {
    right: 2.5px;
    background: #e11c4b;
    -webkit-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    -o-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  .header .header__bottom .header__bottom-inner .nav-items .items a:hover:before {
    background: #e11c4b;
    width: 100%;
    -webkit-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    -o-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  .header .header__bottom .header__bottom-inner .nav-items .items a:hover:after {
    background: transparent;
    width: 100%;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
  }
}

@media (max-width: 1150px) {
  .container {
    max-width: 991px;
    padding: 0 20px;
  }

  .stock .stock__items .items a {
    width: 300px;
    height: auto;
  }

  .stock .stock__items .items {
    gap: 25px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 767px;
  }

  .header .header__top .header__top-inner {
    padding: 8px 0;
  }

  .header .header__center .header__center-inner .logo span {
    font-size: 18px;
  }

  .header .header__center .header__center-inner .search {
    padding: 0 35px 0 45px;
  }

  .header .header__center .header__center-inner .items a img {
    width: 24px;
    height: 24px;
  }

  .header .header__center .header__center-inner .items a p {
    display: none;
  }

  .header .header__center .header__center-inner .items {
    gap: 30px;
  }

  .header .header__center .header__center-inner {
    padding: 16px 0 18px 0;
  }

  .stock .stock__items .items a {
    width: 355px;
    height: 200px;
  }

  .stock .stock__items .items {
    gap: 17px;
    margin-top: 24px;
  }

  .stock {
    padding: 36px 0 72px 0;
  }

  .footer .footer__top .footer__top-inner .nav-items .items {
    gap: 24px;
  }

  .footer .footer__top .footer__top-inner .contact-items .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
  }

  .footer .footer__top .footer__top-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }

  .footer .footer__top {
    padding-bottom: 12px;
  }

  .footer .footer__bottom .footer__bottom-inner .social-items .items {
    position: absolute;
    right: 0;
    top: -80px;
  }

  .footer .footer__bottom .footer__bottom-inner {
    position: relative;
  }

  .footer .footer__bottom {
    padding-top: 12px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 576px;
    padding: 0 10px;
  }

  .header .header__center .header__center-inner .search .search-item {
    background-size: 18px 18px;
    background-position: 12px center;
    padding: 11.5px 0 11.5px 40px;
  }

  .header .header__center .header__center-inner .search {
    padding: 0 18px 0 18px;
  }

  .header .header__center .header__center-inner .items {
    gap: 24px;
  }

  .stock .stock__items .items a {
    width: 100%;
    height: auto;
  }

  .stock {
    padding: 24px 0 48px 0;
  }

  .footer .footer__bottom .footer__bottom-inner .social-items .items {
    position: static;
  }

  .footer .footer__bottom .footer__bottom-inner {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 24px;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 14px;
  }

  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  .header {
    display: none;
  }

  .mobile {
    display: block;
  }

  .stock .stock__items .items a {
    width: 100%;
    height: auto;
  }

  .stock .stock__items .items {
    gap: 18px;
  }

  .footer .footer__bottom .footer__bottom-inner .text-items .items p {
    font-size: 12px;
  }
}