@font-face {
  font-family: "TTLakes-Black";
  font-display: swap;
  src: url("../fonts/TTLakes-Black.woff") format("woff"), url("../fonts/TTLakes-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes-Bold";
  font-display: swap;
  src: url("../fonts/TTLakes-Bold.woff") format("woff"), url("../fonts/TTLakes-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes-DemiBold";
  font-display: swap;
  src: url("../fonts/TTLakes-DemiBold.woff") format("woff"), url("../fonts/TTLakes-DemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes-ExtraBold";
  font-display: swap;
  src: url("../fonts/TTLakes-ExtraBold.woff") format("woff"), url("../fonts/TTLakes-ExtraBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes-ExtraLight";
  font-display: swap;
  src: url("../fonts/TTLakes-ExtraLight.woff") format("woff"), url("../fonts/TTLakes-ExtraLight.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes-Light";
  font-display: swap;
  src: url("../fonts/TTLakes-Light.woff") format("woff"), url("../fonts/TTLakes-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes-Medium";
  font-display: swap;
  src: url("../fonts/TTLakes-Medium.woff") format("woff"), url("../fonts/TTLakes-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes-Regular";
  font-display: swap;
  src: url("../fonts/TTLakes-Regular.woff") format("woff"), url("../fonts/TTLakes-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes-Thin";
  font-display: swap;
  src: url("../fonts/TTLakes-Thin.woff") format("woff"), url("../fonts/TTLakes-Thin.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "TTLakes-Regular";
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  font-family: "TTLakes-Bold";
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: auto;
  background-color: #fff;
}

.header__wrapper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18.6px 0;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: block;
  margin-right: 16.73px;
}

.header__open {
  width: auto;
}

.header__logo {
  width: auto;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__repair {
  display: block;
  margin-right: 16px;
  padding-left: 20px;
  position: relative;
}

.header__repair::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  background: rgb(234, 234, 234);
  width: 2px;
  height: 32px;
}

.header__checkstatus {
  display: block;
}

.header__call {
  margin-right: 16px;
  display: none;
}

.header__chat {
  margin-right: 16px;
  display: none;
}

.header__profile {
  margin-right: 20px;
  display: none;
}

.main {
  background-color: #f8f8f8;
  padding: 24px 0 0 0;
}

.title {
  width: 100%;
  height: auto;
  position: relative;
}

.title__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title__text h1 {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6000000238px;
  text-align: left;
}

.title__btn {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.title__repair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 600;
  color: #1B1C21;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.200000003px;
  text-align: right;
  margin-right: 34px;
}

.title__repair img {
  margin-left: 8px;
}

.title__checkstatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 600;
  color: #1B1C21;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.200000003px;
  text-align: right;
}

.title__checkstatus img {
  margin-left: 8px;
}

.title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #41f6d7;
  width: 4px;
  height: 40px;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
}

.nav {
  width: 100%;
  height: auto;
  margin-top: 24px;
}

.nav__wrapper {
  width: 100%;
  height: auto;
}

.nav__overflow {
  width: 100%;
  height: auto;
}

.nav__list {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  display: inline-block;
  padding: 8px 16px;
}

.nav__item--active {
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.nav__link {
  color: #7e7e82;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.200000003px;
  text-wrap: nowrap;
}

.block {
  width: 100%;
  height: auto;
  padding: 24px 0 35px 0;
}

.block__wrapper {
  width: 100%;
  height: auto;
}

.block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.block__text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: #1b1c21;
  height: 90px;
  overflow: hidden;
}

.block__image {
  display: none;
}

.block__further {
  background-color: rgba(255, 255, 255, 0);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  font-weight: 900;
}

.block__further img {
  margin-right: 8px;
}

.block__img {
  width: 100%;
  margin-top: 16px;
}

.block__img img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }

  .header__call {
    display: block;
  }

  .header__chat {
    display: block;
  }

  .header__profile {
    display: block;
  }

  .block__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .block__info {
    margin-right: 48px;
  }

  .block__text {
    height: 160px;
  }

  .block__image {
    display: block;
  }

  .block__image img {
    border-radius: 10px;
    width: 360px;
  }

  .block__further {
    margin-top: 10px;
  }

  .block__further {
    margin-top: 13px;
  }

  .block__img {
    display: none;
  }

  .block {
    padding: 32px 0 40px 0;
  }
}

@media (min-width: 1120px) {
  .container {
    padding: 0 34px;
  }

  .header {
    display: none;
  }

  .main {
    padding: 42px 0 0 0;
  }

  .title__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .block__info {
    margin-right: 36px;
  }

  .block__image {
    display: block;
  }

  .block__image img {
    border-radius: 10px;
    width: 530px;
  }
}