@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&family=PT+Sans+Caption:wght@400;700&family=Roboto+Slab:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Karla", sans-serif;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #f0fafe;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5px 0 5px;
}

.teachers {
  padding-top: 206px;
  padding-bottom: 50px;
}

.inner__teachers-title {
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
}

.inner__teachers-title h2 {
  font-size: 43px;
  line-height: 15px;
  color: #5b5a5a;
}
.slick-item {
  background: #ffffff;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 50px;
  border-radius: 13px;
}

.slick-item-description {
  width: 397px;
  height: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.slick-item-description h3 {
  font-size: 35px;
  color: #e09f37;
  line-height: 25px;
  margin-bottom: 11px;
}

.slick-item-description p {
  font-size: 16px;
  color: #acabab;
  line-height: 25px;
}

.slick-item-description .p1 {
  margin-bottom: 20px;
  padding-left: 20px;
}

.slick-item-description .p2 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.slick-item-description .p3 {
  margin-bottom: 50px;
}

.slick-item-description .span {
  margin-bottom: 35px;
}

.slick-item-description hr {
  width: 100%;
  height: 2px;
  background-color: #f2f4f5;
}

.slick-item-description span {
  font-size: 19px;
  color: #808080;
  display: block;
  line-height: 25px;
}

.slick-item-description a {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #f7f7f7;
  border-radius: 10px;
  width: 290px;
}

.slick-item-description a span {
  padding-left: 12px;
  font-size: 15px;
}

.slick-prev,
.slick-next {
  width: 67px !important;
  height: 67px !important;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  color: #feb14d !important;
  font-size: 67px !important;
  opacity: 1 !important;
}

/* .price {
  background-image: url("/img/back.jpg");
  background-repeat: no-repeat;
  z-index: 1;
} */

.price {
  padding-top: 280px;
  padding-bottom: 200px;
  background-image: url("/img/back.jpg");
  background-repeat: no-repeat;
  z-index: 1;
  background-size: cover;
  background-position: center;
}

.inner__price-title {
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
}

.inner__price-title h2 {
  font-size: 43px;
  line-height: 15px;
  color: #5b5a5a;
}

.list-items {
  display: flex;
  gap: 26px;
}

.list-items .item {
  display: flex;
  flex-direction: column;
  padding: 35px;
  border: 2px solid #f2f4f5;
  border-radius: 13px;
  width: 300px;
}

.list-items .item hr {
  width: 100%;
  height: 2px;
  background-color: #808080;
}

.list-items .item h2 {
  font-size: 22px;
  color: #5b5a5a;
  margin-bottom: 15px;
}

.list-items .item .p1 {
  font-size: 18px;
  color: #5b5a5a;
  margin-top: 10px;
}

.list-items .item .p2 {
  font-size: 14px;
  color: #5b5a5a;
  margin-top: 15px;
}

.list-items .item .p3 {
  font-size: 22px;
  color: #5b5a5a;
  margin-top: 20px;
}

.list-items .item a {
  width: 100%;
  height: auto;
  padding: 20px 0;
  background: -webkit-linear-gradient(
    0deg,
    rgb(248, 186, 77) 47%,
    rgb(253, 219, 173) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    rgb(248, 186, 77) 47%,
    rgb(253, 219, 173) 100%
  );
  background: linear-gradient(
    0deg,
    rgb(248, 186, 77) 47%,
    rgb(253, 219, 173) 100%
  );

  border-radius: 30px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  margin-top: 20px;
}

.consultation {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

.inner__consultation {
  background-color: #fff;
  display: flex;
  width: 960px;
  border-radius: 10px;
  padding-left: 95px;
  padding-top: 66px;
  margin: 0 auto;
}

.inner__consultation-form {
  display: flex;
  flex-direction: column;
}

.inner__consultation-form-title h2 {
  font-size: 43px;
  color: #605e6f;
  margin-bottom: 15px;
  width: max-content;
}

.inner__consultation-form .p1 {
  font-size: 16px;
  color: #d0d0d8;
  margin-bottom: 15px;
  line-height: 22px;
}

.inner__consultation-form-soc {
  display: flex;
  margin-bottom: 30px;
  gap: 30px;
}

.soc-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.soc-item img {
  margin-bottom: 5px;
}

.soc-item svg {
  fill: #707070;
}

.soc-item svg:hover {
  fill: rgb(248, 186, 77);
}

.soc-item span {
  color: #d0d0d8;
}

form {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 20px;
}

.input-tel,
.input-text {
  padding-top: 21px;
  padding-left: 20px;
  padding-bottom: 21px;
  background-color: #f6f6fa;
  border-radius: 3px;
}

.input-tel img,
.input-text img {
  padding-right: 9px;
  border-right: 1px solid #acabab;
}

.input-tel input,
.input-text input {
  background-color: #f6f6fa;
  font-size: 16px;
  margin-left: 10px;
}

form a {
  width: 100%;
  height: auto;
  padding: 20px 0;
  border-radius: 40px;
  text-align: center;
  background: -webkit-linear-gradient(
    0deg,
    rgb(248, 186, 77) 47%,
    rgb(253, 219, 173) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    rgb(248, 186, 77) 47%,
    rgb(253, 219, 173) 100%
  );
  background: linear-gradient(
    0deg,
    rgb(248, 186, 77) 47%,
    rgb(253, 219, 173) 100%
  );

  margin-top: 15px;
}

.inner__consultation-form .p2 {
  font-size: 16px;
  color: #acabab;
  line-height: 20px;
}

.inner__consultation-form .p2 a {
  color: #e09f37;
}

form a span {
  font-size: 20px;
  color: #fff;
}

.list-items .item:hover {
  border: 2px solid #e09f37;
}

.slick-dots {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1199px;
  }

  .list-items .item {
    padding: 25px;
  }

  .list-items {
    gap: 39px;
    flex-wrap: wrap;
    justify-content: center;
    width: 900px;
    margin: 0 auto;
  }

  .slick-item-description {
    width: 500px;
  }

  .slick-item {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .slick-item-img img {
    width: 400px;
  }

  .inner__consultation-img img {
    width: auto;
  }

  .inner__consultation {
    padding-bottom: 30px;
  }
}

@media (max-width: 1199.98px) {
  .container {
    max-width: 850px;
  }

  .slick-item-img img {
    width: 350px;
  }

  .slick-item-description {
    width: 420px;
  }

  .slick-item-description h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .slick-item-description p {
    font-size: 14px;
  }

  .slick-item-description .p1 {
    margin-bottom: 10px;
  }

  .slick-item-description .p2 {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .slick-item-description .p3 {
    margin-bottom: 25px;
  }

  .slick-item-description span {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .slick-item-description a {
    padding: 20px 0px 20px 20px;
  }

  .slick-item-description a span {
    margin: 0;
  }
  .inner__consultation {
    width: auto;
  }

  .list-items {
    width: auto;
    gap: 30px;
  }

  .inner__consultation {
    padding: 50px 0px 0px 50px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .slick-prev,
  .slick-next {
    display: none !important;
  }

  .slick-dots {
    display: block !important;
  }

  .slick-item-img img {
    width: 250px;
  }

  .slick-item-description {
    margin-top: 10px;
    width: 380px;
  }

  .slick-item-description h3 {
    font-size: 24px;
    margin-bottom: 6px;
  }

  .slick-item-description .p1 {
    margin-bottom: 6px;
    padding: 0;
  }

  .slick-item-description .p2 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .slick-item-description .p3 {
    margin-bottom: 10px;
  }

  .slick-item-description .span {
    margin-bottom: 20px;
  }

  .slick-item-description a {
    padding: 15px 0px 15px 15px;
  }

  .inner__teachers-title h2,
  .inner__price-title h2,
  .inner__consultation-form-title h2 {
    font-size: 36px;
  }

  .list-items {
    gap: 20px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 576px;
  }
  .slick-item-img img {
    width: 200px;
  }

  .slick-item-description {
    width: 280px;
  }

  .slick-item {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .slick-item-description .p2 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .slick-item-description .span {
    font-size: 14px;
  }

  .inner__teachers-title h2,
  .inner__price-title h2,
  .inner__consultation-form-title h2 {
    font-size: 28px;
  }
}

@media (max-width: 575.98px) {
  .container {
    max-width: 320px;
  }

  .slick-initialized .slick-slide {
    flex-wrap: wrap;
  }

  .inner__price-title h2 {
    line-height: 35px;
    text-align: center;
  }

  .inner__consultation {
    padding: 20px;
  }

  .inner__consultation-img img {
    display: none;
  }

  .inner__consultation-form-soc {
    gap: 20px;
  }

  .inner__consultation-form .p1 {
    font-size: 14px;
  }

  form a span {
    font-size: 18px;
  }

  .inner__consultation-form .p2 {
    font-size: 14px;
  }

  .list-items .item h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .list-items .item .p1 {
    font-size: 16px;
  }

  .list-items .item .p3 {
    font-size: 18px;
    margin-top: 15px;
  }

  .list-items .item a {
    font-size: 18px;
    padding: 15px 0;
  }
}
