@import url("../fonts/stylesheet.css");

body{
	background: url("../img/bg/background1.png");
	background-position: -469px 0px;
	background-repeat: repeat-y;
}


.block1{
	width: 100%;
	height: 157px;
}



.container1{
	max-width: 1180px;
	margin: 0px auto;
	
}

.menu{
	width: 1180px;
	height: 157px;
	position: relative;
	border-bottom: 1px solid #fff;
	
}

.block1 .container1 .menu .logo{
	margin: 70px 0px 0px 2px;
	float: left;
}

.block1 .container1 .menu .text1{
	width: 162px;
	height: 42px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: white;
	margin: 85px 0px 0px 30px;
	float: left;
}

.menu .text2{
	position: absolute;
	top: 106px;
	left: 820px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}

.menu .text3{
	position: absolute;
	top: 106px;
	left: 950px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}

.menu .text4{
	position: absolute;
	top: 106px;
	left: 1090px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}

.menu .hr1{
	position: absolute;
	top: 91px;
	left: 863px;
	width: 112px;
	height: 1px;
	border: 1px solid #fff;
}

.menu .hr2{
	position: absolute;
	top: 91px;
	left: 1009px;
	width: 112px;
	height: 1px;
	border: 1px solid #fff;
}

.menu .first{
	position: absolute;
	top: 75px;
	left: 830px;
	width: 34px;
	height: 34px;
	border: 2px solid #F69B03;
	border-radius: 100%;
}

.menu .first img{
	position: absolute;
	top: 10px;
	left: 10px;
}

.menu .second{
	position: absolute;
	top: 75px;
	left: 975px;
	width: 34px;
	height: 34px;
	border: 2px solid #fff;
	border-radius: 100%;
}

.menu .second span{
	position: absolute;
	top: 5px;
	left: 10px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

.menu .third{
	position: absolute;
	top: 75px;
	left: 1122px;
	width: 34px;
	height: 34px;
	border: 2px solid #fff;
	border-radius: 100%;
}

.menu .third span{
	position: absolute;
	top: 5px;
	left: 10px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}


.basket{
	width: 100%;
	height: 947px;
}

.container_basket{
	width: 780px;
	margin: 0px auto;
}

.basket .row{
	width: 780px;
	height: 30px;
	margin: 25px 0px 0px 0px;

} 

.row .text_basket{
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 35px;
	color: #FFFFFF;
}

.container_basket_items{
	width: 780px;
	height: 892px;
}

.container_basket_items .img_basket{
	width: 140px;
	height: 140px;
	border-radius: 12px;
	margin: 20px 0px 0px 0px;	
}

.item_first{
	width: 780px;
	height: 190px;
	border-bottom: 1px solid #fff;
	position: relative;
}

.item_first .text1{
	position: absolute;
	top: 30px;
	left: 160px;
	width: 114px;
	height: 20px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
}

.item_first .text2{
	position: absolute;
	top: 50px;
	left: 160px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;	
}

.item_first .text3{
	position: absolute;
	top: 108px;
	left: 160px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;	
}

.item_first .text4{
	position: absolute;
	top: 131px;
	left: 160px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;	
}

.item_first .text5{
	position: absolute;
	top: 43px;
	left: 567px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

.item_first .text6{
	position: absolute;
	top: 42px;
	left: 659px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	color: #FFFFFF;	
}

.item_first .img_bin{
	position: absolute;
	top: 42px;
	left: 765px;
	width: 17px;
	height: 20px;
}

.item_first .click_minus{
	position: absolute;
	top: 40px;
	left: 528px;
	width: 25px;
	height: 25px;
	border: 1px solid #FFFFFF;
	border-radius: 100%;
}


.item_first .click_minus > span{
  position: absolute;
  top: 10px;
  left: 3.5px;
  width: 69%;
  height: 2px;
  background-color: #fff;
}

.item_first .click_a-plus{
	position: absolute;
	top: 40px;
	left: 589px;
	width: 25px;
	height: 25px;
	border: 1px solid #FFFFFF;
	border-radius: 100%;
}

.click_a-plus > span,
.click_a-plus > span::before{
	position: absolute;
	top: 10px;
	left: 3.5px;
	width: 69%;
	height: 2px;
	background-color: #fff;
} 

.click_a-plus > span::before {
	content: '';
	width: 100%;
	height: 2px;
	transform: rotate(90deg);
	position: absolute;
	top: 0px;
	left: 0px;
}


.item_second{
	width: 780px;
	height: 190px;
	border-bottom: 1px solid #fff;
	position: relative;
}

.item_second .text1{
	position: absolute;
	top: 30px;
	left: 160px;
	width: 114px;
	height: 20px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
}

.item_second .text2{
	position: absolute;
	top: 50px;
	left: 160px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;	
}

.item_second .text3{
	position: absolute;
	top: 108px;
	left: 160px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;	
}

.item_second .text4{
	position: absolute;
	top: 131px;
	left: 160px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;	
}

.item_second .text5{
	position: absolute;
	top: 43px;
	left: 567px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

.item_second .text6{
	position: absolute;
	top: 42px;
	left: 659px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	color: #FFFFFF;	
}

.item_second .img_bin{
	position: absolute;
	top: 42px;
	left: 765px;
	width: 17px;
	height: 20px;
}

.item_second .click_minus{
	position: absolute;
	top: 40px;
	left: 528px;
	width: 25px;
	height: 25px;
	border: 1px solid #FFFFFF;
	border-radius: 100%;
}


.item_second .click_minus > span{
  position: absolute;
  top: 10px;
  left: 3.5px;
  width: 69%;
  height: 2px;
  background-color: #fff;
}

.item_second .click_a-plus{
	position: absolute;
	top: 40px;
	left: 589px;
	width: 25px;
	height: 25px;
	border: 1px solid #FFFFFF;
	border-radius: 100%;
}

.item_second .click_a-plus > span,
.item_second .click_a-plus > span::before{
	position: absolute;
	top: 10px;
	left: 3.5px;
	width: 69%;
	height: 2px;
	background-color: #fff;
} 

.item_second .click_a-plus > span::before {
	content: '';
	width: 100%;
	height: 2px;
	transform: rotate(90deg);
	position: absolute;
	top: 0px;
	left: 0px;
}

.item_third{
	width: 780px;
	height: 190px;
	border-bottom: 1px solid #fff;
	position: relative;
}

.item_third .text1{
	position: absolute;
	top: 30px;
	left: 160px;
	width: 114px;
	height: 20px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
}

.item_third .text2{
	position: absolute;
	top: 50px;
	left: 160px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;	
}

.item_third .text3{
	position: absolute;
	top: 108px;
	left: 160px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;	
}

.item_third .text4{
	position: absolute;
	top: 131px;
	left: 160px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;	
}

.item_third .text5{
	position: absolute;
	top: 43px;
	left: 567px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

.item_third .text6{
	position: absolute;
	top: 42px;
	left: 659px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	color: #FFFFFF;	
}

.item_third .img_bin{
	position: absolute;
	top: 42px;
	left: 765px;
	width: 17px;
	height: 20px;
}

.item_third .click_minus{
	position: absolute;
	top: 40px;
	left: 528px;
	width: 25px;
	height: 25px;
	border: 1px solid #FFFFFF;
	border-radius: 100%;
}


.item_third .click_minus > span{
  position: absolute;
  top: 10px;
  left: 3.5px;
  width: 69%;
  height: 2px;
  background-color: #fff;
}

.item_third .click_a-plus{
	position: absolute;
	top: 40px;
	left: 589px;
	width: 25px;
	height: 25px;
	border: 1px solid #FFFFFF;
	border-radius: 100%;
}

.item_third .click_a-plus > span,
.item_third .click_a-plus > span::before{
	position: absolute;
	top: 10px;
	left: 3.5px;
	width: 69%;
	height: 2px;
	background-color: #fff;
} 

.item_third .click_a-plus > span::before {
	content: '';
	width: 100%;
	height: 2px;
	transform: rotate(90deg);
	position: absolute;
	top: 0px;
	left: 0px;
}


.item_free{
	width: 780px;
	height: 60px;
	border-bottom: 1px solid #fff;
	position: relative;
}

.item_free .img_car{
	position: absolute;
	width: 36px;
	height: 16px;
	top: 21px;
	left: 65px;
}

.item_free .text1{
	height: 20px;
	width: 559px;
	font-size: 16px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	color: #fff;
	position: absolute;
	top: 20px;
	left: 130px;
}


.item_promo{
	width: 780px;
	height: 95px;
	border-bottom: 1px solid #fff;
	position: relative;
}

.item_promo .text1{
	position: absolute;
	top: 20px;
	left: 0px;
	height: 20px;
	width: 130px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}

.item_promo .input{
	position: absolute;
	top: 25px;
	left: 0px;
	width: 160px;
	height: 30px;
	background: #F2F1ED;
	border-radius: 20px;
}

.item_promo .submit{
	position: absolute;
	top: 25px;
	left: 215px;
	width: 130px;
	height: 30px;
	border: 2px solid #F69B03;
	border-radius: 20px;
	background: none;
}


.item_promo .submit span{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #FFFFFF;
	position: absolute;
	top: 6px ;
	left: 27px;
}

.item_total{
	width: 780px;
	height: 171px;
	position: relative;
}

.item_total .text1{
	position: absolute;
	top: 20px;
	left: 470px;
	height: 20px;
	width: 207px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 20px;
	color: #FFFFFF;
}

.item_total .text2{
	position: absolute;
	top: 20px;
	left: 690px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 20px;
	color: #FFFFFF;
}

.item_total .back{
	position: absolute;
	top: 70px;
	left: 0px;
	height: 45px;
	width: 186px;
	border-radius: 10px;
	border: 1px solid #fff;
}

.item_total .back span{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;
	position: absolute;
	top: 8px;
	left: 17px;

}


.item_total .forward{
	position: absolute;
	top: 70px;
	left: 640px;
	width: 140px;
	height: 45px;
	background: #F69B03;
	border-radius: 10px;
}

.item_total .forward span{
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	color: #000;
	position: absolute;
	top: 8px;
	left: 26px;
}

.block3{
	width: 100%;
	height: 487px;
	background: #101010;
}

.container3{
	width: 1180px;
	margin: 0px auto;
	
}

.footer{
	width: 1180px;
	height: 487px;
	
}

.footer .box1{
	width: 1180px;
	height: 329px;
	position: relative;
	border-bottom: 1px solid #fff;
}

.footer .box1 .logo{
	position: absolute;
	top: 30px;
	left: 2px;
}

.footer .box1 .text1{
	position: absolute;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 130%;
	color: #FFFFFF;
	width: 143px;
	height: 36px;
	top: 42px;
	left: 142px;
}

.footer .box1 .text2{
	position: absolute;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 130%;
	color: #FFFFFF;
	height: 20px;
	width: 206px;
	top: 114px;
	left: 5px;
}

.footer .box1 .google{
	position: absolute;
	width: 220px;
	height: 48px;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 10px;
	top: 154px;
	left: 3px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 75%;
	color: #FFFFFF;
}

.footer .box1 .google span{
	position: absolute;
	width: 139px;
	height: 11px;
	left: 60px;
	top: 15px;
}

.footer .box1 .google img{
	position: absolute;
	top: 8px;
	left: 15px;
}

.footer .box1 .app{
	position: absolute;
	width: 255px;
	height: 48px;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 10px;
	top: 222px;
	left: 3px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 75%;
	color: #FFFFFF;
}

.footer .box1 .app span{
	position: absolute;
	width: 180px;
	height: 11px;
	left: 60px;
	top: 15px;	
}

.footer .box1 .app img{
	position: absolute;
	top: 8px;
	left: 15px;
}

.footer .spisok2{
	position: absolute;
	top: 114px;
	left: 366px;
}

.footer .spisok2 a{
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
	color: #FFFFFF;
}

.footer .box2{
	width: 1180px;
	height: 158px;
	position: relative;
}

.footer .box2 .text1{
	position: absolute;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	top: 35px;
	left: 0px;
	height: 20px;
  width: 234px;
}

.footer .box2 .text2{
	position: absolute;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	top: 35px;
	left: 356px;
	height: 20px;
  width: 234px;
}

.footer .box2 .vk{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #000000;
	border: 1px solid #FFFFFF;
	border-radius: 20px;
	top: 25px;
	left: 780px;
}

.footer .box2 .vk img{
	position: absolute;
	top: 11px;
	left: 7px;
}

.footer .box2 .inst{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #000000;
	border: 1px solid #FFFFFF;
	border-radius: 20px;
	top: 25px;
	left: 840px;
}

.footer .box2 .inst img{
	position: absolute;
	top: 10px;
	left: 10px;
}

.footer .box2 .book{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #000000;
	border: 1px solid #FFFFFF;
	border-radius: 20px;
	top: 25px;
	left: 900px;
}

.footer .box2 .book img{
	position: absolute;
	top: 5px;
	left: 12px;
}

.footer .box2 .twit{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #000000;
	border: 1px solid #FFFFFF;
	border-radius: 20px;
	top: 25px;
	left: 960px;
}

.footer .box2 .twit img{
	position: absolute;
	top: 10px;
	left: 9px;
}

.footer .box2 .text3{
	position: absolute;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;	
	top: 85px;
	left: 0px;
}