@import url("../fonts/stylesheet.css");

body{
	background: url("../img/bg/background1.png");
	background-position: -469px 0px;
	background-repeat: repeat-y;
}

.block1{
	width: 1440px;
	height: 1050px;
}

.container1{
	width: 1180px;
	height: 1050px;
	margin: 0px 130px 0px 130px;
}

.menu{
	width: 1180px;
	height: 157px;
	border-bottom: 1px solid #fff;
}

.block1 .container1 .menu .logo{
	margin: 70px 0px 0px 2px;
	float: left;
}

.block1 .container1 .menu .text1{
	width: 162px;
	height: 42px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: white;
	margin: 85px 0px 0px 30px;
	float: left;
}

.block1 .container1 .menu select{
	width: 140px;
	height: 15px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	margin: 95px 0px 0px 30px;
	background: none;
	color: white;
	float: left;
}

.block1 .container1 .menu .text2{
	width: 174px;
	height: 12px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: white;
	margin: 95px 0px 0px 47px;
	float: left;
}

.block1 .container1 .menu .number1{
	width: 120px;
	height: 35px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: white;
	float: left;
	margin: 87px 0px 0px 52px;
	line-height: 20px;
}

.block1 .container1 .menu .btn1{
	width: 154px;
	height: 60px;
	background: #101010;
	border-radius: 10px;
	float: left;
	margin: 73px 0px 0px 37px;

}



.block1 .container1 .menu .btn1 img{
	margin: 18px 0px 23px 15px;
	float: left;
}

.block1 .container1 .menu .btn1 .text3{
	width: 93px;
	height: 12px;
	margin: 22px 0px 0px 40px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: white;
}



.private__area{
	width: 581px;
	height: 260px;
	border-bottom: 1px solid #fff;
	margin: 0px 0px 0px 140px;
}

.block1 .container1 .private__area .text1{
	height: 30px;
	width: 316px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 35px;
	color: #FFFFFF;
	margin: 25px 0px 0px 0px;
}

.block1 .container1 .private__form .text2{
	height: 20px;
	width: 26px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #CCCCCC;
	margin: 31px 0px 0px 0px;
	float: left;
	 
}

.block1 .container1 .private__form .text3{
	height: 20px;
	width: 112px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #CCCCCC;
	float: left;
	margin: 30px 0px 0px 271px;
	
}

.block1 .container1 .private__form .text4{
	height: 20px;
	width: 42px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #CCCCCC;
	margin: 95px 0px 0px 0px;
}

.block1 .container1 .private__form .text5{
	height: 20px;
	width: 355px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #CCCCCC;
	margin: 60px 0px 0px 0px;
}

.block1 .container1 .private__form .name{
	width: 280px;
	height: 40px;
	background: #F2F1ED;
	border-radius: 130px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #101010;
}

.block1 .container1 .private__form .number{
	width: 280px;
	height: 40px;
	background: #F2F1ED;
	border-radius: 130px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #101010;
}

.block1 .container1 .private__form .emaill{
	width: 280px;
	height: 40px;
	background: #F2F1ED;
	border-radius: 130px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #101010;
}

.block1 .container1 .private__form .checkbox{
	margin-right: 10px;
}

.block1 .container1 .delivery{
	width: 578px;
	height: 265px;
	margin: 0px 0px 0px 140px;
	border-bottom: 1px solid #fff;
}

.block1 .container1 .delivery .text1{
	height: 35px;
	width: 182px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 35px;
	color: #FFFFFF;
	margin: 35px 0px 0px 0px;

}

.block1 .container1 .payment{
	width: 578px;
	height: 265px;
	margin: 0px 0px 0px 140px;
	
}

.block1 .container1 .payment .text1{
	height: 35px;
	width: 182px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 35px;
	color: #FFFFFF;
	margin: 35px 0px 0px 0px;	
}

.block2{
	width: 1440px;
	height: 535px;
	background: #000;
}

.container2{
	width: 1180px;
	height: 535px;
	margin: 0px 130px 0px 130px;
}

.footer{

}

.block2 .container2 .footer .box1{
	width: 1180px;
	height: 97px;
}

.block2 .container2 .footer .box1 .img1{
	width: 110px;
	height: 67px;
	margin: 30px 0px 0px 2px;
	float: left;
}

.block2 .container2 .footer .box1 .text1{
	width: 143px;
	height: 36px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 130%;
	color: #FFFFFF;
	float: left;
	margin: 42px 0px 0px 30px;
}

.block2 .container2 .footer .box2{
	width: 1180px;
	height: 232px;
	border-bottom: 1px solid white;
}

.block2 .container2 .footer .box2 .text2{
	height: 20px;
	width: 206px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	margin: 17px 0px 0px 5px;
}

.block2 .container2 .footer .box2 .btn1{
	height: 48px;
	width: 220px;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
	background: none;
	margin: 20px 0px 0px 0px;
}

.block2 .container2 .footer .box2 .btn1 .imgbtn1{
	width: 30px;
	height: 30px;
	float: left;
	margin: 9px 0px 9px 20px;
}

.block2 .container2 .footer .box2 .btn1 .textbtn1{
	width: 140px;
	height: 11px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 75%;
	color: white;
	margin: 20px 0px 17px 61px;
}

.block2 .container2 .footer .box2 .btn2{
	height: 48px;
	width: 255px;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
	background: none;
	margin: 20px 0px 0px 0px;
	float: left;
}

.block2 .container2 .footer .box2 .btn2 .imgbtn2{
	width: 30px;
	height: 30px;
	float: left;
	margin: 9px 0px 9px 20px;
}

.block2 .container2 .footer .box2 .btn2 .textbtn2{
	width: 180px;
	height: 11px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 75%;
	color: white;
	margin: 20px 0px 17px 61px;
}

.block2 .container2 .footer .box2 .list{
	width: 81px;
	height: 140px;
	float: left;
	position: absolute;
	top: 1090px;
	left: 470px;
}

.block2 .container2 .footer .box2 .list li{
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
	color: #FFFFFF;
	
}

.box3{
	width: 1180px;
	height: 100px;

}

.block2 .container2 .footer .box3 .text1{
	height: 20px;
	width: 234px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	margin: 35px 0px 0px 0px;
	float: left;
}

.block2 .container2 .footer .box3 .text2{
	height: 20px;
	width: 234px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	margin: 35px 0px 0px 122px;
	float: left;
}

.box3 .btn_top{
	width: 220px;
	margin: 25px 0px 0px 780px;
}

.box3 .btn_top button{
	margin-left: 12px;
}


.block2 .container2 .footer .box3 .btn1{
	width: 40px;
	height: 40px;
	border: 1px solid white;
	border-radius: 20px;
	background: black;
	
}


.block2 .container2 .footer .box3 .btn2{
	width: 40px;
	height: 40px;
	border: 1px solid white;
	border-radius: 20px;
	background: black;
	
}

.block2 .container2 .footer .box3 .btn3{
	width: 40px;
	height: 40px;
	border: 1px solid white;
	border-radius: 20px;
	background: black;
}

.block2 .container2 .footer .box3 .btn4{
	width: 40px;
	height: 40px;
	border: 1px solid white;
	border-radius: 20px;
	background: black;
	
}

.block2 .container2 .footer .box3 .img1{
	background: black;
	height: 13px;
	width: 22px;
}
.block2 .container2 .footer .box3 .img2{
	background: black;
}
.block2 .container2 .footer .box3 .img3{
	background: black;
}
.block2 .container2 .footer .box3 .img4{
	background: black;
}

.box4{
	width: 1180px;
	height: 20px;
}

.block2 .container2 .footer .box4 .text1{
	width: 1180px;
	height: 20px;
	left: 130px;
	top: 7697px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

.burger-menu{
	width: 60px;
	height: 60px;
	background: #961D2A;
	border-radius: 10px;
	position: absolute;
	top: 73px;
	left: 1240px;
	z-index: 9;
}

.menu-btn{
  align-items: center;
  position: absolute;
  width: 26px;
  height: 26px;
  cursor: pointer;
  top: 30px;
  left: 17px;
  z-index: 10;
}
 
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition-duration: .25s;

}



.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}

.menubox{
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 437px;
  height: 1010px;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #000;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
  z-index: 6;
}

#menu-toggle{
  opacity: 0;
}

#menu-toggle:checked ~ .menu-btn > span{
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ body{
	scroll-behavior: none;
} 
#menu-toggle:checked ~ .menubox{
  visibility: visible;
  right: 0;
}

.menubox .img1{
	position: absolute;
	top: 22px;
	right: 218px;
	width: 152px;
	left: 67px;

}




.menubox .text_menu{
	height: 33px;
	width: 108px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 125%;
	color: #FFFFFF;
	position: absolute;
	top: 166px;
	left: 67px;
}

.menubox .private_href a{
	position: absolute;
	top: 214px;
	left: 103px;
	height: 20px;
	width: 122px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 125%;
	color: #FFFFFF;
}

.menubox .bonus_href a{
	position: absolute;
	top: 244px;
	left: 103px;
	height: 20px;
	width: 281px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 125%;
	color: #FFFFFF;
}

.menubox .exit_href a{
	position: absolute;
	top: 274px;
	left: 103px;
	height: 20px;
	width: 281px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 125%;
	color: #FFFFFF;
}

.menubox .text_menu1{
	height: 33px;
	width: 108px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 125%;
	color: #FFFFFF;
	position: absolute;
	top: 319px;	
	left: 68px;
}



.menubox .spisok_menu li a{
	position: absolute;
	top: 358px;
	left: 103px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;	
}

.menubox .text_menu2{
	height: 33px;
	width: 108px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 125%;
	color: #FFFFFF;
	position: absolute;
	top: 553px;	
	left: 67px;
}

.menubox .number_800{
position: absolute;
	width: 182px;
	height: 21px;
	left: 70px;
	top: 610px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 75%;
	color: #FFFFFF;
}

.menubox .number_8000{
	position: absolute;
	width: 205px;
	height: 21px;
	left: 70px;
	top: 654px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 75%;
	color: #FFFFFF;	
}

.menubox .btn_100{
	position: absolute;
	width: 280px;
	height: 75px;
	left: 68px;
	top: 700px;
	background: #F69B03;
	border-radius: 10px;
}

.menubox .btn_100 .text_100{
	width: 196px;
	height: 14px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 75%;
	color: #101010;
	margin: 0px 0px 0px 40px;
}
