@import url("../fonts/stylesheet.css");

body{
	background: url("../img/bg/background1.png");
	background-position: -420px 0px;
	background-repeat: repeat-y;
}

.block1{
	width: 100%;
	height: 157px;
}



.container1{
	width: 1180px;
	margin: 0px auto;
	
}

.menu{
	width: 1180px;
	height: 157px;
	position: relative;
	border-bottom: 1px solid #fff;
	
}

.block1 .container1 .menu .logo{
	margin: 70px 0px 0px 2px;
	float: left;
}

.block1 .container1 .menu .text1{
	width: 162px;
	height: 42px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: white;
	margin: 85px 0px 0px 30px;
	float: left;
}

.block1 .container1 .menu .select{
	width: 140px;
	height: 15px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	margin: 95px 0px 0px 30px;
	background: none;
	color: white;
	float: left;
}

.block1 .container1 .menu .text2{
	width: 174px;
	height: 12px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: white;
	margin: 95px 0px 0px 47px;
	float: left;
}

.block1 .container1 .menu .number1{
	width: 120px;
	height: 35px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: white;
	float: left;
	margin: 87px 0px 0px 52px;
	line-height: 20px;
}

.block1 .container1 .menu .btn1{
	width: 154px;
	height: 60px;
	background: #101010;
	border-radius: 10px;
	float: left;
	margin: 73px 0px 0px 37px;	
}



.block1 .container1 .menu .btn1 img{
	margin: 18px 0px 23px 15px;
	float: left;
}

.block1 .container1 .menu .btn1 .text3{
	width: 93px;
	height: 12px;
	margin: 22px 0px 0px 40px;
	font-size: 14px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;	
	color: #fff;
}
}

.block__private__area{
	width: 100%;
	height: 820px;
}

.container__private__area{
	width: 900px;
	margin: 0px auto;
}

.private__area{
	width: 581px;
	height: 310px;
	border-bottom: 1px solid #fff;
	position: relative;
}



.block__private__area .container__private__area .private__area .text1{
	height: 30px;
	width: 316px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 35px;
	color: #FFFFFF;
	position: absolute;
	top: 25px;
	left: 0px;
}

.block__private__area .container__private__area .private__form .text2{
	height: 20px;
	width: 26px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #CCCCCC;
	position: absolute;
	top: 86px;
	left: 0px;
	 
}

.block__private__area .container__private__area .private__form .text3{
	height: 20px;
	width: 112px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #CCCCCC;
	position: absolute;
	top: 86px;
	left: 300px;

	
}

.block__private__area .container__private__area .private__form .text4{
	height: 20px;
	width: 42px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #CCCCCC;
	position: absolute;
	top: 170px;
	left: 0px;
}

.block__private__area .container__private__area .private__form .text5{
	height: 20px;
	width: 355px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #CCCCCC;
	position: absolute;
	top: 260px;
	left: 0px;

}

.block__private__area .container__private__area .private__form .name{
	width: 280px;
	height: 40px;
	background: #F2F1ED;
	border-radius: 130px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #101010;
}

.block__private__area .container__private__area .private__form .number{
	width: 280px;
	height: 40px;
	background: #F2F1ED;
	border-radius: 130px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #101010;
}

.block__private__area .container__private__area .private__form .emaill{
	width: 280px;
	height: 40px;
	background: #F2F1ED;
	border-radius: 130px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #101010;
}

.block__private__area .container__private__area .private__form .checkbox{
	margin-right: 10px;
}

.block__private__area .container__private__area .delivery{
	width: 578px;
	height: 265px;
	border-bottom: 1px solid #fff;
	position: relative;
}

.block__private__area .container__private__area .delivery .text1{
	height: 35px;
	width: 182px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 35px;
	color: #FFFFFF;
	position: absolute;
	top: 35px;
	left: 0px;
	

}

.block__private__area .container__private__area .payment{
	width: 578px;
	height: 245px;
	position: relative;
	
}

.block__private__area .container__private__area .payment .text1{
	height: 35px;
	width: 182px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 35px;
	color: #FFFFFF;
	position: absolute;
	top: 35px;
	left: 0px;
	
}

.block2{
	width: 100%;
	height: 487px;
	background: #101010;
}

.container2{
	width: 1180px;
	margin: 0px auto;
	
}

.footer{
	width: 1180px;
	height: 487px;
	
}

.footer .box1{
	width: 1180px;
	height: 329px;
	position: relative;
	border-bottom: 1px solid #fff;
}

.footer .box1 .logo{
	position: absolute;
	top: 30px;
	left: 2px;
}

.footer .box1 .text1{
	position: absolute;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 130%;
	color: #FFFFFF;
	width: 143px;
	height: 36px;
	top: 42px;
	left: 142px;
}

.footer .box1 .text2{
	position: absolute;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 130%;
	color: #FFFFFF;
	height: 20px;
	width: 206px;
	top: 114px;
	left: 5px;
}

.footer .box1 .google{
	position: absolute;
	width: 220px;
	height: 48px;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 10px;
	top: 154px;
	left: 3px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 75%;
	color: #FFFFFF;
}

.footer .box1 .google span{
	position: absolute;
	width: 139px;
	height: 11px;
	left: 60px;
	top: 15px;
}

.footer .box1 .google img{
	position: absolute;
	top: 8px;
	left: 15px;
}

.footer .box1 .app{
	position: absolute;
	width: 255px;
	height: 48px;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 10px;
	top: 222px;
	left: 3px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 75%;
	color: #FFFFFF;
}

.footer .box1 .app span{
	position: absolute;
	width: 180px;
	height: 11px;
	left: 60px;
	top: 15px;	
}

.footer .box1 .app img{
	position: absolute;
	top: 8px;
	left: 15px;
}

.footer .spisok2{
	position: absolute;
	top: 114px;
	left: 366px;
}

.footer .spisok2 a{
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
	color: #FFFFFF;
}

.footer .box2{
	width: 1180px;
	height: 158px;
	position: relative;
}

.footer .box2 .text1{
	position: absolute;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	top: 35px;
	left: 0px;
	height: 20px;
  width: 234px;
}

.footer .box2 .text2{
	position: absolute;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	top: 35px;
	left: 356px;
	height: 20px;
  width: 234px;
}

.footer .box2 .vk{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #000000;
	border: 1px solid #FFFFFF;
	border-radius: 20px;
	top: 25px;
	left: 780px;
}

.footer .box2 .vk img{
	position: absolute;
	top: 11px;
	left: 7px;
}

.footer .box2 .inst{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #000000;
	border: 1px solid #FFFFFF;
	border-radius: 20px;
	top: 25px;
	left: 840px;
}

.footer .box2 .inst img{
	position: absolute;
	top: 10px;
	left: 10px;
}

.footer .box2 .book{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #000000;
	border: 1px solid #FFFFFF;
	border-radius: 20px;
	top: 25px;
	left: 900px;
}

.footer .box2 .book img{
	position: absolute;
	top: 5px;
	left: 12px;
}

.footer .box2 .twit{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #000000;
	border: 1px solid #FFFFFF;
	border-radius: 20px;
	top: 25px;
	left: 960px;
}

.footer .box2 .twit img{
	position: absolute;
	top: 10px;
	left: 9px;
}

.footer .box2 .text3{
	position: absolute;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;	
	top: 85px;
	left: 0px;
}

.burger-menu{
	width: 60px;
	height: 60px;
	background: #961D2A;
	border-radius: 10px;
	position: absolute;
	top: 73px;
	left: 1110px;
	z-index: 9;
}

.menu-btn{
  align-items: center;
  position: absolute;
  width: 26px;
  height: 26px;
  cursor: pointer;
  top: 30px;
  left: 17px;
  z-index: 10;
}
 
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition-duration: .25s;

}



.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}

.menubox{
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 437px;
  height: 1010px;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #000;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
  z-index: 6;
}

#menu-toggle{
  opacity: 0;
}

#menu-toggle:checked ~ .menu-btn > span{
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox{
  visibility: visible;
  right: 0;
}


.menubox .img1{
	position: absolute;
	top: 22px;
	right: 218px;
	width: 152px;
	left: 67px;

}

.menubox .text_menu{
	height: 33px;
	width: 108px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 125%;
	color: #FFFFFF;
	position: absolute;
	top: 166px;
	left: 67px;
}

.menubox .private_href a{
	position: absolute;
	top: 214px;
	left: 103px;
	height: 20px;
	width: 122px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 125%;
	color: #FFFFFF;
}

.menubox .bonus_href a{
	position: absolute;
	top: 244px;
	left: 103px;
	height: 20px;
	width: 281px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 125%;
	color: #FFFFFF;
}

.menubox .exit_href a{
	position: absolute;
	top: 274px;
	left: 103px;
	height: 20px;
	width: 281px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 125%;
	color: #FFFFFF;
}

.menubox .text_menu1{
	height: 33px;
	width: 108px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 125%;
	color: #FFFFFF;
	position: absolute;
	top: 319px;	
	left: 68px;
}

.menubox .spisok_menu{
	position: absolute;
	top: 358px;
	left: 103px;

}

.menubox .spisok_menu li a{
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	color: #FFFFFF;	
}

.menubox .text_menu2{
	height: 33px;
	width: 108px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 125%;
	color: #FFFFFF;
	position: absolute;
	top: 553px;	
	left: 67px;
}

.menubox .number_800{
position: absolute;
	width: 182px;
	height: 21px;
	left: 70px;
	top: 610px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 75%;
	color: #FFFFFF;
}

.menubox .number_8000{
	position: absolute;
	width: 205px;
	height: 21px;
	left: 70px;
	top: 654px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 75%;
	color: #FFFFFF;	
}

.menubox .a_100{
	position: absolute;
	width: 280px;
	height: 75px;
	left: 68px;
	top: 700px;
	background: #F69B03;
	border-radius: 10px;

}

.menubox .a_100 .text_100{
	width: 196px;
	height: 14px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 75%;
	color: #101010;
	position: absolute;
	left: 42px;
	top: 30px;
}
