body{
	font-family: arial, sans-serif;
}

nav{
	width: 100%;
	height: 50px;
	background: #222629;
	position: fixed;
	z-index: 100;
}

.logo a{
	color: #61890f;
	font-size: 22px;
	padding-left: 150px;
	line-height: 50px;
	float: left;
	transition: all 0.1s;
	transform: scale(1);
	display: inline-block;
	-webkit-animation: comming 1s;
	-o-animation: comming 1s;
	animation: comming 1s;
}

.logo a:hover{
	color: #86c232;
	text-shadow: 1px 1px  10px #86c323;
}

.logo a:active{
	transform: scale(1.1);
}

@keyframes comming{
	from{
		opacity: 0;
		margin-top: -100px;
	}
	to{
		opacity: 1;
		margin-top: 0px;
	}
}

.menu{
	float: left;
	padding-left: 400px;
	width: 70%;
}



.menu li a{
	float: left;
	line-height: 50px;
	color: #61890f;
	margin-right: 25px;
	font-size: 12px;
	text-transform: uppercase;
	transition: all 0.1s;
	transform: scale(1);
	display: inline-block;
	-webkit-animation: menu_li 2s;
	-o-animation: menu_li 2s;
	animation: menu_li 2s;
}

@keyframes menu_li{
	from{
		opacity: 0;
		margin-top: -100px;
	}
	to{
		opacity: 1;
		margin-top: 0px;
	}
}

.menu li a:hover{
	color: #86c232;
	text-shadow: 1px 1px  10px #86c323;
}

.menu li a:active{
	transform: scale(1.1);
}

.main{
	width: 100%;
	height: 100%;
	background-color: #222629;
	
}


.title__container{
	float: left;
	margin: 170px 0px 0px 200px;
	text-align: center;
	-webkit-animation: title__container 3s;
	-o-animation: title__container 3s;
	animation: title__container 3s;
}


@keyframes title__container{
	from{
		opacity: 0;
		margin-left: -500px;
	}
	to{
		opacity: 1;
		margin: 170px 0px 0px 200px;
	}
}

.title__container h1{
	font-size: 45px;
	font-weight: bold;
	color: #ffffff  ;
}

.title__container h4{
	margin-top: 20px;
	font-size: 16px;
	color: #6b6e70;
}

.title__container button{
	height: 30px ;
	text-align: center;
	margin-top: 15px;
	margin-right: 10px;
	border-radius: 5px;
	background: #61890f;
	padding: 0px 10px;
	color: #222629;
	transition: all 0.2s;
}

.title__container button:hover{
	background: #86c232;
	transform: scale(1);
}

.title__container button:active{
	transform: scale(1.1);
}

.me{
	width: 100%;
	height: 100%;
	background: #fff;
	float: left;
}

.me_resume{
	
}




.resume h2{
	font-size: 30px;
	text-align: center;
	margin-top: 60px;
	color: #61890f;
	font-weight: bold;
	
}



.resume img{
	display: block;
	width: 200px;
	height: 200px;
	margin: 30px auto;
	border-radius:  150px;
}

.resume__p{
	width: 70%;
	font-size: 16px;
	text-align: center;
	color: #6b6e70;
	margin: 20px auto 20px auto;
}

.resumeww{
	margin-top: 20px;
}

.down{
	text-align: center;
	margin-top: 40px;

}

.down button{
	height: 30px ;
	text-align: center;
	border-radius: 5px;
	background: #61890f;
	padding: 0px 10px;
	color: #222629;
	transition: all 0.2s;
}

.down button:hover{
	transform: scale(1);
	background: #86c232;
}

.down button:active{
	transform: scale(1.1);
}

.meskill{
	width: 100%;
	height: 80%;
	float: left;
	
}

.aboutmy h2{
	font-size: 30px;
	text-align: center;
	padding-top: 100px;
	color: #61890f;
	font-weight: bold;
	
}

.skill{
	text-align: center;
	margin-left: 230px;
}

.skill li{
	float: left;
	color: #61890f;
	font-size: 14px;
	width: 200px;
	height: 160px;
	
	
	
}

.skill ul{
	height: 160px;
	margin-top: 100px;
	
}

.skill img{
	padding-left: 15px;
	padding-bottom: 20px;
	
}

.skill h4{
	
	padding-left: 5px;
	padding-bottom: 20px;
	font-size: 16px;
}

.skill p{
	color: #6b6e70;
	width: 100%;
}

.skillqqq{
	margin-top: -6px;
}

.cases{
	width: 100%;
	height: calc(100% + 100px);
	float: left;
	
}



.cases h2{
	text-align: center;
	font-size: 30px;
	margin-top: 60px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #61890f;
	
}

.class{
	text-align: center;
	color: #6b6e70;
	margin-bottom: 20px;
	
}

.casesjs img{
	width: 50%;
	height: 50%;
	display: block;
	margin: 0px auto 0px auto;
	
}

.casesjsinfo {
	width: 200px;
	display: inline-block;
	margin-left: 315px;
	float: left;
}


.casesjsinfo h3{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	color: #61890f;
	padding-top: 3px;
	
}

.casesjsinfo p{
	padding-top: 3px;
	padding-bottom: 3px;
	color: #6b6e70;
}

.nameproject{
	float: left;
	width: 325px;
	margin-left: 50px;
}

.nameproject h3{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	color: #61890f;
	padding-top: 3px;
}

.nameproject p{
	padding-top: 3px;
	padding-bottom: 3px;
	color: #6b6e70;
}

.casebtn{
	float: left;
	width: 100%;
	padding-left: 315px;

}

.casebtn button{
	height: 30px;
	text-align: center;
	border-radius: 5px;
	background: #61890f;
	padding: 0px 10px;
	color: #222629;
	transition: all 0.2s;
}

.casebtn button:hover{
	transform: scale(1);
	background: #86c232;
}

.casebtn button:active{
	transform: scale(1.1);
}

.calc{
	width: 100%;
	height: 100%;
	float: left;
	


}

.calc__h h2{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #61890f;
	font-size: 30px;
	
}



.calcme h2{
	padding: 20px 0px 30px 0px;
	width: 120px;
	margin-left: 380px;
	font-size: 18px;
	color: #61890f;
}

.calcme select{
	display: block;
	margin: 0px auto;
	width: 500px;
	height: 30px;
	background: rgba(192, 192, 192, 0.5);
	color: #6b6e70;
}

.calctime{
	margin: 20px 0px 0px 380px;
	line-height: 30px;
	color: #61890f;
	float: left;
}

.calcresult{
	line-height: 30px;
	color: #61890f;
	float: left;
	margin-top: 20px;
	margin-left: 400px;
}

.statics{
	width: 100%;
	height: 70%;
	float: left;
	text-align: center;
	background: url("../img/фон.png");
	background-attachment: fixed;
	background-repeat: round;
	

}

.statics h2{
	font-size: 30px;
	text-align: center;
	padding-top: 60px;
	color: #61890f;
	font-weight: bold;
	

}

.staticsqq{
	float: left;
	
}

.statics li{
	float: left;
	color: #61890f;
	font-size: 14px;
	width: 200px;
	
	
}

.statics ul{
	text-align: center;
	
	
}

.statics img{
	padding-left: 15px;
	padding-bottom: 20px;
	
}

.statics h4{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	

}

.statics p{
	padding-top: 10px;
	padding-bottom: 10px;
	color: #6b6e70;
	

}

.lii{
	margin-top: -4px;

}

.azaz{
	
	width: 100%;
	padding-top: 100px;
	padding-left: 220px;
}



.otzv{
	width: 100%;
	height: 98%;
	float: left;
	
}

.otzv h2{
	font-size: 30px;
	text-align: center;
	margin-top: 100px;
	color: #61890f;
	font-weight: bold;
}

.otzv img{
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin: 40px auto;
	
}


.otzv p{
	margin: 0px auto 0px auto;
	font-size: 16px;
	color: #6b6e70;
	width: 700px;
	padding-top: 30px;

}

.qqq{
	text-align: center;
}

.qq{
	text-align: center;
}

.forma__on{
	
	width: 100%;
	float: left;
	background: #222629;
	
}



.forma__contakt h2{
	font-size: 30px;
	text-align: center;
	padding-top: 30px;
	color: #61890f;
	font-weight: bold;

	
	
}

.pp{
	text-align: center;
	font-size: 16px;
	color: #6b6e70;
	padding-top: 30px;
	
	
}




.forma__spisok li{
	padding-top: 5px;
	float: left;
	color: #61890f;
	font-size: 14px;
	width: 200px;
	float: left;
	

}

.forma__spisok ul{
	
	float: left;
	margin-left: 420px;
	margin-top: 60px;
	
	
}

.forma__spisokk{
	float: left;
	
} 



.forma__spisokk p{
	float: left;
	color: #61890f;
	font-size: 14px;
	margin-top: 50px;
	

}

.q{
	margin-left: 407px;
	
}

.w{
	margin-left: 110px;
	
}

.e{
	margin-left: 88px;
	
}

.form{
	text-align: center;
	
}

.form__h{
	float: left;
	color: #61890f;
	font-size: 18px;
	width: 100%;
	padding-top: 30px;
	
}

.form__input{
	float: left;
	width: 100%;
	text-align: center;

}

.form__input__text{
	width: 200px;
	height: 30px;
	font-size: 18px;
	margin-top: 20px;
	margin-right: 10px;
	color: rgba(192, 192, 192, 1);
	background: rgba(192, 192, 192, 0.2);
}

.form__input__text:hover{
	box-shadow: 2px 2px 10px #fff;
}



.form__input__email{
	width: 200px;
	height: 30px;
	font-size: 18px;
	margin-top: 20px;
	color: rgba(192, 192, 192, 1);
	background: rgba(192, 192, 192, 0.2);
}

.form__input__email:hover{
	box-shadow: 2px 2px 10px #fff;
}

.form__input__area{
	width: 414px;
	height: 40px;
	margin-top: 15px;
	font-size: 18px;
	color: rgba(192, 192, 192, 1);
	background: rgba(192, 192, 192, 0.2);
}

.form__input__area:hover{
	box-shadow: 2px 2px 10px #fff;
}

.form__input__sunmit{
	height: 30px ;
	text-align: center;
	margin-top: 15px;
	border-radius: 5px;
	background: #61890f;
	padding: 0px 10px;
	color: #222629;
	transition: all 0.2s;


}

.form__input__sunmit:hover{
	transform: scale(1.1);
	background: #86c232;
}

.form__input__sunmit:active{
	transform: scale(1);

}



.form__img{
	display: block;
	float: left;
	margin-top: 40px;
	margin-left: 430px;
}

.form__img__ul li{
	float: left;
	padding-right: 50px;

}

