body{
	font-family: arial, sans-serif;
}

nav{
	width: 100%;
	height: 60px;
	background: #222629;
	border-bottom: 3px solid #61890f;

}

.logo{
	color: #61890f;
	font-size: 22px;
	padding-left: 150px;
	line-height: 60px;
	float: left;

}

.menu{
	float: left;
	padding-left: 280px;
}

.menu li{
	float: left;
	line-height: 60px;
	color: #61890f;
	margin-right: 25px;
	font-size: 12px;
	text-transform: uppercase;
}

.main{
	width: 100%;
	height: calc(100% - 60px);
	background-color: #222629;

}

.title__container{
	float: left;
	margin: 170px 0px 0px 200px;
	text-align: center;
}

.title__container h1{
	font-size: 45px;
	font-weight: bold;
	color: #ffffff  ;
}

.title__container h4{
	margin-top: 20px;
	font-size: 16px;
	color: #6b6e70;
}

.title__container button{
	height: 30px ;
	text-align: center;
	margin-top: 15px;
	border: 2px solid #61890f;
	border-radius: 5px;
	background: #61890f;
	padding: 0px 10px;
	color: #222629;
}

.me{
	width: 100%;
	height: 100%;
	background: #fff;
	float: left;
	border: 1px solid black;
}

.resume h2{
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
	color: #61890f;
	font-weight: bold;
}

.resume img{
	width: 200px;
	height: 200px;
	
	border-radius:  150px;
	
}

.imgq{
	margin: 30px auto 30px auto;
	width: 200px;
	height: 200px;

}

.resume__p{
	width: 70%;
	font-size: 16px;
	text-align: center;
	color: #6b6e70;
	margin: 20px auto 20px auto;
}

.resumeww{
	margin-top: 20px;
}

.down{
	text-align: center;
	margin-top: 40px;

}

.down button{
	height: 30px ;
	text-align: center;
	border: 2px solid #61890f;
	border-radius: 5px;
	background: #61890f;
	padding: 0px 10px;
	color: #222629;
}

.meskill{
	width: 100%;
	height: 80%;
	float: left;
	border: 1px solid black;
}

.aboutmy h2{
	font-size: 30px;
	text-align: center;
	padding-top: 50px;
	color: #61890f;
	font-weight: bold;
	
}

.skill{
	text-align: center;
}

.skill li{
	float: left;
	color: #61890f;
	font-size: 14px;
	width: 200px;
	height: 160px;
	
	
	
}

.skill ul{
	height: 160px;
	margin-left: 200px;
	margin-top: 100px;
	
}

.skill img{
	padding-left: 15px;
	padding-bottom: 20px;
	
}

.skill h4{
	
	padding-left: 5px;
	padding-bottom: 20px;
	font-size: 16px;
}

.skill p{
	color: #6b6e70;
	width: 100%;
}

.skillqqq{
	margin-top: -6px;
}

.cases{
	width: 100%;
	height: calc(100% + 60px);
	float: left;
	border: 1px solid black;
}



.cases h2{
	text-align: center;
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #61890f;
	
}

.class{
	text-align: center;
	color: #6b6e70;
	margin-bottom: 20px;
	
}

.casesjs img{
	width: 50%;
	height: 50%;
	display: block;
	margin: 0px auto 0px auto;
	
}

.casesjsinfo {
	width: 200px;
	display: inline-block;
	margin-left: 285px;
	float: left;
}


.casesjsinfo h3{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	color: #61890f;
	padding-top: 3px;
	
}

.casesjsinfo p{
	padding-top: 3px;
	padding-bottom: 3px;
	color: #6b6e70;
}

.nameproject{
	float: left;
	width: 325px;
	margin-left: 50px;
}

.nameproject h3{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	color: #61890f;
	padding-top: 3px;
}

.nameproject p{
	padding-top: 3px;
	padding-bottom: 3px;
	color: #6b6e70;
}

.casebtn{
	float: left;
	width: 100%;
	padding-left: 285px;

}

.casebtn button{
	height: 30px;
	text-align: center;
	border: 2px solid #61890f;
	border-radius: 5px;
	background: #61890f;
	padding: 0px 10px;
	color: #222629;
}


.calc{
	width: 100%;
	height: 100%;
	float: left;
	border: 1px solid black;


}

.calc__h h2{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #61890f;
	font-size: 30px;
	
}



.calcme h2{
	padding: 20px 0px 30px 0px;
	width: 120px;
	margin-left: 323px;
	font-size: 18px;
	color: #61890f;
}

.calcme select{
	margin-left: 323px;
	width: 500px;
	height: 30px;
	background: rgba(192, 192, 192, 0.5);
	color: #6b6e70;
}

.calctime{
	margin: 20px 0px 0px 323px;
	line-height: 30px;
	color: #61890f;
	float: left;
}

.calcresult{
	line-height: 30px;
	color: #61890f;
	float: left;
	margin-top: 20px;
	margin-left: 400px;
}

.statics{
	width: 100%;
	height: 70%;
	float: left;
	border: 1px solid black;
	text-align: center;
}

.statics h2{
	font-size: 30px;
	text-align: center;
	padding-top: 30px;
	color: #61890f;
	font-weight: bold;
	

}

.staticsqq{
	float: left;
	
}

.statics li{
	float: left;
	color: #61890f;
	font-size: 14px;
	width: 200px;
	
	
}

.statics ul{
	text-align: center;
	
	
}

.statics img{
	padding-left: 15px;
	padding-bottom: 20px;
	
}

.statics h4{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	

}

.statics p{
	padding-top: 10px;
	padding-bottom: 10px;
	color: #6b6e70;
	

}

.lii{
	margin-top: -4px;
}

.azaz{
	width: 100%;
	margin-top: 100px;
	margin-left: 180px;
}

.otzv{
	width: 100%;
	height: 80%;
	float: left;
	border: 1px solid black;
}

.otzv h2{
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
	color: #61890f;
	font-weight: bold;
}

.otzv img{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin: 70px auto 0px 525px;
}


.otzv p{
	margin: 0px auto 0px auto;
	font-size: 16px;
	color: #6b6e70;
	width: 700px;
	padding-top: 30px;

}

.qqq{
	text-align: center;
}

.qq{
	text-align: center;
}

.forma__on{
	width: 100%;
	height: calc(100%);
	float: left;
	border: 1px solid black;
	background: #222629;
	
}



.forma__contakt h2{
	font-size: 30px;
	text-align: center;
	padding-top: 30px;
	color: #61890f;
	font-weight: bold;
	
	
}

.pp{
	text-align: center;
	font-size: 16px;
	color: #6b6e70;
	padding-top: 30px;
	
	
}

.forma__spisok{
	


}

.forma__spisok li{
	padding-top: 5px;
	float: left;
	color: #61890f;
	font-size: 14px;
	width: 200px;
	float: left;
	

}

.forma__spisok ul{
	
	float: left;
	margin-left: 400px;
	margin-top: 60px;
	
	
}

.forma__spisokk{
	float: left;
	
} 



.forma__spisokk p{
	float: left;
	color: #61890f;
	font-size: 14px;
	margin-top: 50px;
	

}

.q{
	margin-left: 390px;
	
}

.w{
	margin-left: 110px;
	
}

.e{
	margin-left: 88px;
	
}

.form{
	text-align: center;
	
}

.form__h{
	float: left;
	color: #61890f;
	font-size: 18px;
	width: 100%;
	padding-top: 30px;
	
}

.form__input{
	float: left;
	width: 100%;
	text-align: center;

}

.form__input__text{
	width: 200px;
	height: 30px;
	font-size: 18px;
	margin-top: 20px;
	margin-right: 10px;
	color: #6b6e70;
	background: rgba(192, 192, 192, 0.2);
}

.form__input__email{
	width: 200px;
	height: 30px;
	font-size: 18px;
	margin-top: 20px;
	color: #6b6e70;
	background: rgba(192, 192, 192, 0.2);
}

.form__input__area{
	width: 414px;
	height: 40px;
	margin-top: 15px;
	font-size: 18px;
	color: #6b6e70;
	background: rgba(192, 192, 192, 0.2);
}

.form__input__sunmit{
	height: 30px ;
	text-align: center;
	margin-top: 15px;
	border: 2px solid #61890f;
	border-radius: 5px;
	background: #61890f;
	padding: 0px 10px;
	color: #222629;
	

}



.form__img{
	
	float: left;
	margin-top: 40px;
	margin-left: 435px;
	

}

.form__img__ul li{
	float: left;
	padding-right: 50px;
}

footer{
	
	text-align: center;
	font-size: 14px;
	
	color: #61890f;
	
}